/*css */

	#logo{
		width: 150px;
		height: 150px;
		background-color: gray;
		position: fixed; top: 10px; left: 10px;
	}

	#anima-1 {
		width: 100%; height: 150px;
		background-color: gray;
		position: relative;
	}

		#q1 {
			width: 150px; height: 200px;
			background-color: black;
			position: absolute;
			opacity: 1;
		}

/*descendo*/
@-webkit-keyframes "descendo" {
	from {
		left: 0px;
	}
}

@-webkit-keyframes "opacidade" {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


